[toolchain]

[features]
seeds = false
skip-lint = false

[programs.devnet]
custody = "Gcu1vbed9bwpfwU9PCnJw8QanQfVHfETWxAK3EZczbgo"
glam = "Gco1pcjxCMYjKJjSNJ7mKV7qezeUTE7arXJgy7PAPNRc"
policy = "Gpo1jXtEFepqyPQWTG7oDJrg8rye8JL3zcsczHzXKqLt"
pricing = "Gpr1WZZXAty2L9eiMwZPC7ra69vMFojhdqDuiRHkQQQp"
strategy = "Gst1YGe5vKURSWfCqM7GhZys1oML9E9t91WRyV2rt4yS"

[programs.localnet]
custody = "Gcu1vbed9bwpfwU9PCnJw8QanQfVHfETWxAK3EZczbgo"
glam = "Gco1pcjxCMYjKJjSNJ7mKV7qezeUTE7arXJgy7PAPNRc"
policy = "Gpo1jXtEFepqyPQWTG7oDJrg8rye8JL3zcsczHzXKqLt"
pricing = "Gpr1WZZXAty2L9eiMwZPC7ra69vMFojhdqDuiRHkQQQp"
strategy = "Gst1YGe5vKURSWfCqM7GhZys1oML9E9t91WRyV2rt4yS"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
#cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
# test = "../node_modules/.bin/nx run anchor:jest --verbose --testPathPattern tests/ --testNamePattern glam_staking"
test = "../node_modules/.bin/nx run anchor:jest --verbose --testPathPattern tests/ --testNamePattern glam_investor"
# test = "../node_modules/.bin/nx run anchor:jest --verbose --testPathPattern tests/ --testNamePattern glam_crud"
# test = "../node_modules/.bin/nx run anchor:jest --verbose --testPathPattern tests/ --testNamePattern glam_drift"
#test = "../node_modules/.bin/nx run anchor:jest --verbose --testPathPattern tests/ --testNamePattern devnet"

[test]
startup_wait = 50000
shutdown_wait = 2000
upgradeable = true

[test.validator]
bind_address = "127.0.0.1"
ledger = ".anchor/test-ledger"
rpc_port = 8899
url = "https://api.devnet.solana.com"

[[test.validator.clone]]
# Pyth SOL/USD
address = "J83w4HKfqxwcq3BEMMkPFSppX3gqekLyLJBexebFVkix"
[[test.validator.clone]]
# Pyth USDC/USD
address = "5SSkXsEKQepHHAewytPVwdej4epN1nxgLVM84L4KXgy7"
[[test.validator.clone]]
# Pyth BTC/USD
address = "HovQMDrbAgAYPCmHVSrezcSmkMtXSSUsLDFANExrZh2J"
[[test.validator.clone]]
# Pyth ETH/USD
address = "EdVCmQ9FSPcVe5YySXDPCRmc8aDQLKJ9xvYBMZPie1Vw"
[[test.validator.clone]]
# Drift program data
address = "7dLgmtcTavcguNoynVimF9ZNVb13FvhXVRfj2HyrDGaP"
[[test.validator.clone]]
# Drift USDC
address = "8zGuJQqwhZafTah7Uc7Z4tXRnguqkn5KLFAP8oV6PHe2"
[[test.validator.clone]]
# Drift BTC
address = "3BZPwbcqB5kKScF3TEXxwNfx5ipV13kbRVDvfVp5c6fv"
[[test.validator.clone]]
# WSOL
address = "So11111111111111111111111111111111111111112"

# Fund GBS AdXkDnJpFKqZeoUygLvm5dp2b5JGVPz3rEWfGCtB5Kc2
# fund + share class + treasury + treasury ATAs
[[test.validator.clone]]
address = "AdXkDnJpFKqZeoUygLvm5dp2b5JGVPz3rEWfGCtB5Kc2"
[[test.validator.clone]]
address = "Cprd9VcMpAuGAonDEsHpxiuzLG6dzt5xR6mpyeq2EiN1"
[[test.validator.clone]]
address = "7Eo2DEFc9bbFxH3s7Vu3JbnawgGRcHuJ5qfCJEmfMJrP"
[[test.validator.clone]]
address = "3pDeR4NEiD2dNmY1ty7W526Z5qVnBUPVA62i5RjFDcCU"
[[test.validator.clone]]
address = "3gkfwhdYFymrTD1YotVHHsWAXArSwRkcaTPNyuSQk6zf"
[[test.validator.clone]]
address = "BwFBtjotUxPqDUa49tkGmsURduAAhToA46TY9heEm8LF"

# Fund LFG Dt4uayF35AKhhgaPNxdVRh4khNaGAih8L9SMSs9Wr6CP
# (only fund + share class)
[[test.validator.clone]]
address = "Dt4uayF35AKhhgaPNxdVRh4khNaGAih8L9SMSs9Wr6CP"
[[test.validator.clone]]
address = "AdXkDnJpFKqZeoUygLvm5dp2b5JGVPz3rEWfGCtB5Kc2"

# Fund CAF 6ZBb3LRddLtBq6DeNtSaUrMipieaFJgTETgTBoiAGBCC
# (only fund)
[[test.validator.clone]]
address = "6ZBb3LRddLtBq6DeNtSaUrMipieaFJgTETgTBoiAGBCC"

# Fund RHW CWb949XA3vrdiEp2BFtjr9MbUonHke8CVdTb8Cr7Hctd
# (only fund)
[[test.validator.clone]]
address = "CWb949XA3vrdiEp2BFtjr9MbUonHke8CVdTb8Cr7Hctd"

# Drift program
[[test.genesis]]
address = "dRiftyHA39MWEi3m9aunc5MzRF1JYuBsbn6VPcn33UH"
program = "fixtures/drift.so"

# Drift state account
[[test.validator.clone]]
address = "5zpq7DvB6UdFFvpmBPspGPNfUGoBRRCE2HHg5u3gxcsN"
[[test.validator.clone]]
address = "GXWqPpjQpdz7KZw9p7f5PX2eGxHAhvpNXiviFkAB8zXg"
[[test.validator.clone]]
address = "3x85u7SWkmmr7YQGYhtjARgxwegTLJgkSLRprfXod6rh"
[[test.validator.clone]]
address = "6gMq3mRCKf8aP3ttTyYhuijVZ2LGi14oDsBbkgubfLB3"
