@use '@carbon/react';
@use '@carbon/styles';
@use '@carbon/type';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100% !important;
  padding: 0 !important;
  overflow: hidden;
}

.cds--tabs .cds--tabs__nav-link:focus, .cds--tabs .cds--tabs__nav-link:active {
  outline: none !important;
}

*:focus {
  border-color: red !important;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 10px;
  }
  .product-grid {
    grid-template-columns: (2, 1fr);
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 12px;
  }

  .product-grid {
    grid-template-columns: (2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 14px;
  }
  .product-grid {
    grid-template-columns: (2, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}

.gray {
  color: rgb(99, 99, 99);
  font-size: 14px;
  line-height: 18px;
}

// class that hides the scrollbar
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.wallet-adapter-button-trigger {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #141414 0deg,
    rgba(20, 20, 20, 0) 360deg
  ) !important;
  border-radius: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  color: transparent !important;
  height: 20px !important;
  width: 20px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}
