@use '@carbon/react';
@use '@carbon/styles';
@use '@carbon/type';

// Include type reset
@include type.reset();

// Include default type styles, targets h1, h2, h3, etc
@include type.default-type();

// Include utility classes for type-related properties
@include type.type-classes();

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}

.wallet-adapter-button-trigger {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #141414 0deg,
    rgba(20, 20, 20, 0) 360deg
  ) !important;
  border-radius: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  color: transparent !important;
  height: 20px !important;
  width: 20px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}
