name: Deploy api to GAE

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy to"
        required: true
        default: "dev"
        type: choice
        options: [dev, prod]

permissions:
  contents: read
  id-token: write

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          version: 9.1.2
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Run tests
        run: pnpm api-test

      - name: "GCP auth"
        uses: "google-github-actions/auth@v2"
        with:
          project_id: "glam-api-419002"
          workload_identity_provider: "projects/639940077006/locations/global/workloadIdentityPools/github-workflow/providers/github"
          service_account: "glam-api-419002@appspot.gserviceaccount.com"

      - name: "gcloud"
        run: gcloud services list

      - name: "Set up env variables"
        env:
          HELIUS_API_KEY: ${{ secrets.HELIUS_API_KEY }}
        run: |-
          echo "env_variables:" > api/.env.yaml
          echo "  SOLANA_RPC: https://mainnet.helius-rpc.com/?api-key=$HELIUS_API_KEY" >> api/.env.yaml
          echo "  GIT_SHA: $GITHUB_SHA" >> api/.env.yaml

      - name: Deploy to GAE
        run: ./scripts/deploy_api.sh --${{ inputs.environment }}
